@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family:  'Inter';
  @apply nextgpt__text-color:main  bg-white nextgpt__text-size:md;
}


.nextgpt__text-size\:md {
  @apply text-[14px];
}
.nextgpt__text-xl {
  @apply text-[20px];
}
.nextgpt__text-2xl {
  @apply text-[32px];
}


.nextgpt__text-color\:main {
  @apply text-[#0A0D14];
}

.nextgpt__text-color\:sub {
  @apply text-[#525866];
}

.nextgpt__text-color\:placeholder {
  @apply text-[#868B98];
}

.nextgpt__font\:bold {
  @apply font-[600];
}
.nextgpt__font\:semibold {
  @apply font-[500];
}

.nextgpt-color-icon-default {
  @apply text-[#B4B7C1];
}
.screen-x-padding {
  @apply px-[4rem]
}

.nextgpt__btn-rounded {
  @apply rounded-full px-3 py-1 border bg-white border-gray-200 hover:bg-gray-200 text-gray-700
}

.nextgpt__btn-rounded.active {
  @apply bg-gray-900 text-white;
  line-height: 24px;
}
.nextgpt__input {
  @apply w-full rounded-md border border-gray-300 px-3 py-2 focus:border-gray-900 focus:outline-none
}
.nextgpt__btn-dark {
  @apply rounded-lg bg-gray-900 px-4 py-2 text-sm text-white hover:bg-gray-800
}

.nextgpt__title {
  @apply nextgpt__font:bold nextgpt__text-main nextgpt__text-xl; 
}

label {
  @apply nextgpt__font:semibold
}
.nextgpt__subtitle {
  @apply nextgpt__text-color:sub nextgpt__text-size:md;
}
.nextgpt__form-group {
  @apply space-y-2
}
.nextgpt__form-container {
  @apply space-y-4
}
.nextgpt__agent_border {
  @apply border border-gray-300
}
.nextgpt__text-muted {
  color: #525866;
}
.nextgpt__text-main {
  color: #0A0D14
}

.nextgpt__text-secondary {
  color: #008F82
}

.nextgpt__btn-primary {
  @apply bg-gray-100 px-3 py-1 rounded-lg nextgpt__bg-surface border
}

.nextgpt__agent_btn-secondary {
  @apply bg-white px-3 py-1 rounded-lg nextgpt__agent_border nextgpt__text-muted
}

.nextgpt__bg-gray-light {
  @apply bg-gray-100
}

.nextgpt__bg-surface {
  @apply bg-[#F7F7F8];
}
.nextgpt__bg-neutral-100{
  @apply bg-[#EEEFF1];
}

