@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --x-padding: 4rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.screen-x-padding {
  padding-left: var(--x-padding);
  padding-right: var(--x-padding);
}

.nextgpt__btn-rounded {
  @apply rounded-full px-3 py-1 border bg-white border-gray-200 hover:bg-gray-200 text-gray-700
}

.nextgpt__btn-rounded.active {
  @apply bg-gray-900 text-white
}
.nextgpt__input {
  @apply w-full rounded-md border border-gray-300 px-3 py-2 focus:border-gray-900 focus:outline-none
}
.nextgpt__btn-dark {
  @apply rounded-md bg-gray-900 px-4 py-2 text-sm text-white hover:bg-gray-800
}
.nextgpt__agent_title {
  @apply text-3xl font-semibold
}
.nextgpt__agent_subtitle {
  @apply text-gray-500
}